# Copy values from your local environment.
# Render will not use this automatically.

DATABASE_URL=

FRONTEND_URL=

ADMIN_PASSWORD=
ADMIN_TOKEN=

STORAGE_PROVIDER=supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=

